<div class='register'>
  <h2>Changer votre mot de passe</h2>
  <p>Entrer votre nouveau mot de passe</p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "Nouveau mot de passe (#{@minimum_password_length} characters minimum)" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Enregistrer" %>
    </div>
  <% end %>

  <div class='register-login'>
    <p>J'ai déjà un compte ?</p>
    <%= link_to "Me connecter", new_session_path(resource_name) %>
  </div>

  <div class='register-login'>
    <p>Pas encore de compte ?</p>
    <%= link_to "Créer un compte", new_registration_path(resource_name) %>
  </div>
</div>
