<div class='container'>
  <div class='cities-content'>
    <header>
      <h1>ADMINISTRATION</h1>
      <div class='header-star'>
        <div></div>
        <i class="fas fa-star"></i>
        <div></div>
      </div>
      <% if @my_cities.count == 0 %>
        <p>Vous n'avez aucune ville pour le moment</p>
      <% elsif @my_cities.count == 1 %>
        <p>Vous gérez 1 ville</p>
      <% else %>
        <p>Vous gérez <%= @my_cities.count %> villes</p>
      <% end %>
      <%= link_to 'Créer une novelle ville', new_city_path, class: 'city-btn' %>
    </header>
    <% @my_cities.each do |city| %>
      <div class='<%= city.sub? ? "cities-card green" : "cities-card red" %>'>
        <div class='card-delete'>
          <% if city.insta_acount %>
            <%= link_to edit_city_insta_acount_path(city, city.insta_acount), class: 'white-link' do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          <% else %>
            <%= link_to new_city_insta_acount_path(city), class: 'white-link' do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          <% end %>

          <%= link_to edit_city_path(city), class: 'white-link' do %>
            <i class="fas fa-sliders-h"></i>
          <% end %>

          <%= link_to city_path(city), method: :delete, class: 'red-link', :data => {:confirm => 'Êtes-vous sûr ?'} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
        <h2 class='short-name'><%= city.short_name.upcase %></h2>
        <div class='card-line'></div>
        <div class='card-content'>

          <div class='card-info'>
            <h2>Votre abonement expire le: </h2>
            <h3><%= city.subscription_end.strftime("%d/%m/%y") %></h3>
          </div>

          <div class='card-info'>
            <h2>Date du dernier upload: </h2>
            <h3><%= city.lastupload_date.strftime("%d/%m/%y - %H:%M") %></h3>
          </div>

          <div class='card-info'>
            <h2>Log du dernier upload: </h2>
            <h3><%= city.lastupload_log %></h3>
          </div>

          <div class='card-info'>
            <h2>Nombre de moderateur: </h2>
            <h3>5</h3>
            <%= link_to 'Gérer les modérateurs', new_city_moderator_path(city) %>
          </div>

          <div class='card-info'>
            <h2>Nombre de poste en attente: </h2>
            <h3><%= city.num_post %></h3>
            <% if city.sub? %>
              <%= link_to 'Valider les postes', city_posts_path(city) %>
            <% end %>
          </div>

          <div class='card-info'>
            <h2>Lien vers la création de postes: </h2>
            <%= link_to 'Voir', show_city_path(city.short_name.downcase) %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
