<div class='container'>
  <div class='cities-content'>
    <header>
      <%= image_tag("icon.png", :alt => "icon crush de france") %>
      <h1>CRUSH DE <%= @city.short_name.upcase %></h1>
      <div class='header-star'>
        <div></div>
        <i class="fas fa-star"></i>
        <div></div>
      </div>
      <p>Crée votre poste très simplement</p>
    </header>
    <div class='post-form'>
      <h2>CRÉE TON POSTE</h2>
      <div class='post-line'></div>
      <%= form_for([@city, @post], url: new_post_path, method: :post) do |f| %>
        <div class='post-input'>
          <%= f.label 'Pseudo' %>
          <%= f.text_field :username %>
        </div>
        <div class='post-input'>
          <%= f.label 'Message' %>
          <%= f.text_area :message %>
        </div>
        <div class='actions-post'>
          <%= f.submit "Envoyer" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
